body{
    margin-bottom: 50px;
}

.myheader {
    display: block;
    color: black;
    background-color: #333;
    padding: 14px 16px;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.mynavbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

a {
    display: block;
    position: sticky;
    border: 15px;
    color: rgb(43, 39, 39);
    align-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.mynavbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .mynavbar a.active {
    background-color: #4CAF50;
    color: white;
  }

.myfooter a:hover{
    background-color: #ddd;
    color: black;
}

.myfooter a.active {
    background-color: #4CAF50;
    color: white;
}
.myfooter {
    text-align: center;
    align-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    content: 10000px;
    width: 100%;
    background-color: #ccc;
    color: black;
}

.x1{
    border: 1px;
    padding: 15px;
    align-content: center;
    text-align: center;
}